html {
    scroll-behavior: smooth;
    }   
body{
    margin: 0;
    font-family: Arial;
    background-color:#cdcecf;
    font-size: 18px;
}
header {
    text-align: left;
    font-size: 25px;
    margin-top: 50px;
    width: 100%;
    color: #202020;
}
#nome1{
    margin-top: 50px;
}
#foto1{
    margin-top: 60px;
    float:left;
    width:200px;
    height:200px;
      border-radius: 50%;
    margin: 25px;
    margin-left: 290px;
    
}
nav {
    background-color: #141414;
    border: 25px;
     font-size: 20px;
    top: 0;
    position: fixed;
    width: 100%; 
    padding: 10px;
}
nav a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    float: right;
    margin-right: 20px;
  }
  #redes {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .rede {
    display: inline;
    margin-right: 10px; 
  }

  
  a {
    color: inherit; 
      text-decoration: none;

    } 
article{
    background-color: #141414;
    width: 80%;
        margin-left: 120px;
        color: white;
}
section{
    background-color: #4e4d4d;
}
#info{
    display: flex; 
}
#sobre{
    background-color: #141414;
}

#lista{
    width: 110%;
    height: auto;
    

}
td{
    padding: 18px;
    vertical-align: top;
    color: white;
}

.titulo1 {
    margin: 20px;
    font-size: 26px;
    margin-bottom: 20px;

  }
.about{
    margin: 20px;
    margin-top: 30px;
}
#tabela{
    font-size: 18px;
}
#exper{
    height: 250px;
}
#desire{
    height: 170px;
}
.life{
    height: 40px;
}
footer {
    color: black;
    padding: 1px;
    text-align: center;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    
    header{
        text-align: center;
        font-size: 23px;
        margin-top: 50px;
        width: 100%;
        color: #202020;
    }
    #foto1{
        margin-top: 60px;
        float:center;
        width:200px;
        height:200px;
          border-radius: 50%;
        margin: 25px;
        margin-left: 150px;
        
    }
    body {
        background: #cdcecf;
    }
    #info{
        display: flex; 
        flex-wrap: wrap;
    }
    #sobre{
        background-color: #141414;
        flex: 50%
    }
    
    #lista{
        width: auto;
        height: auto;
        flex: 50%

    
    }
    td{
        padding: 18px;
        vertical-align: top;
        color: white;
    }
    
    .titulo1 {
        margin: 20px;
        font-size: 26px;
        margin-bottom: 20px;
    
      }
    .about{
        margin: 20px;
        margin-top: 30px;
    }
    #tabela{
        font-size: 18px;
    }
    #exper{
        height: 250px;
    }
    article{
        background-color: #141414;
        width: auto;
            color: white;
            margin-left: 0px;
    }
    #desire{
        height: 250px;
    }
  }